.buttonMenu{
  color: #000000;
  text-transform: initial;

}
.buttonAdd{
  border: none;
  outline: none;
  background-color: transparent;
  &:hover{
    opacity: .5;
  }
}

.btnAddItem{
text-transform: initial;
  color: #000000;
  font-size: 16px;
  display: flex;
  align-items: center;
  & span{
    margin-right: 10px;
  }
}

.menuItemRoster{
  padding: 0!important;
}