

.header {
  background-color: rgba(255, 255, 255, .1);
  width: 100%;
  padding: 20px 15px 15px;
  color: #ffffff;

  &__inner {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  &__menu{
    display: flex;
    align-items: center;
    //border-bottom: 1px solid #0a53be;
    &-item{
      margin-right: 30px;
      color:#ffffff;
      text-decoration: none;
      font-size: 16px;
      @media (max-width: 500px) {
        font-size: 13px;
        margin-right: 10px;
      }
    }
  }

  &__logo{
    margin-right: 10px;
  }

  &__wrapper{
    margin-right: 10px;
    display: flex;
    align-items: center;
    column-gap: 70px;
    @media (max-width: 600px) {
      column-gap: 20px;
    }

  }
  &__logo-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    transition: all .3s;



    &:hover {
      opacity: .5;
      cursor: pointer;
    }
  }

  &__title.logo {
    color: #1976d2;
  }

  &__search {
    width: 300px;
    margin-right: 30px;
    &.searchPage{
      width: auto;
    }
    @media (max-width: 800px) {
      width: 200px;
    }
    @media (max-width: 500px) {
      width: 24px;
      margin-right: 15px;
    }

  }
}

