
.buttonDots{
  padding: 2px!important;
  min-width: auto!important;
  background: rgba(0,0,0, .6)!important;;
  border-radius: 50%!important;;

}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  margin-left: 25px;
}