
.input {
  color: #ffffff;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 5px;
  margin-top: 35px;
  @media (max-width: 500px) {
    margin-top: 15px;
    .searchMedia & input{
      display: none!important;
    }
  }
  @media (max-width: 500px) {
    .searchMedia &{
      display: none!important;
    }
  }
  & div{
    color: inherit;
    gap: 0;
    @media (max-width: 500px) {
      .searchMedia &{
        display: none!important;
      }
    }


  }

  & label{
    color: inherit;
    height: 100%;
    @media (max-width: 500px) {
      .searchMedia &{
        display: none!important;
      }
    }
  }
}


.button{
  padding: 5px 40px!important;;
  text-align: center!important;
  font-size: 15px;
  width: auto!important;
  background-color: rgba(255, 255, 255, 0.2)!important;
  transition: all .3s;
  &:hover{
    transform: scale(1.1);
    opacity: .5;
  }


}

.root{
  margin-top: 20px;
}