.root {
  display: flex;
  min-height: 70px;

  color: white!important;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  margin: 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);



  @media (max-width: 700px) {
    margin: 0 auto;
  }
}



.images {
  height: 100%;
  cursor: pointer;
  transition: all .3s;
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto;
  @media (max-width: 700px) {
   max-width: 150px;
    margin: 0 auto;
  }
}

.box{
  //padding: 3px 0!important;
  padding: 30px 0 15px!important;;
  @media (max-width: 700px) {
    padding: 30px 0 15px!important;;
  }
}
.title{
  font-size: 15px!important;
  padding-left: 15px;
  @media (max-width: 700px) {
    padding-left: 5px;
    font-size: 12px!important;
  }
}
.rating{
  font-size: .75rem;
}
.link{
  display: block;
  width: 100%;
  text-decoration: none;
  margin: 0 auto;
  height: 100%;
}

.row{

  @media (min-width: 700px) {
    width: 100%!important;
  }
}

.over{
  margin-top: 10px;
  padding: 0 1rem;
  font-size: 14px!important;
  @media (max-width: 500px) {
    padding: 0 5px;
    font-size: 11px!important;
  }
}
.sidebar{
  position: absolute;
  right: 10px;
  top: 5px
}

.addrosterbtn{
  position: absolute;
  bottom: 5px;
  right: 5px;
}