.btn{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.title{
  color: #ffffff;

}
.backbtn:disabled{
  color: rgba(255,255,255,.2)!important;
}

.backinner{
  display: flex;
  justify-content: flex-end;
}

.description{
  color: rgba(255,255,255, .4);
}
.steepRoot{
  margin-top: 80px !important;
}
.row{
  justify-content: center!important;
}

.btnFinish{
  max-width: 300px;
  margin: 25px auto 0;
}