.movie-block {
  font-family: 'Caveat', cursive;



  &__inner-img {
    position: relative;
  }
  &__img{
    height: 100%;

    margin: 0 auto;
    object-fit: cover;
    object-position: center center;
    @media (max-width: 700px) {
      max-height: 300px;;
    }
  }

  &__info {
    position: relative;
    @media (min-width: 1200px) {
      min-height: 379px;

    }


    &-inner {
      padding: 5px 5px;

      @media (max-width: 700px) {
        padding: 10px 0;
      }

    }
  }

  &__backdrop {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__title {
    font-size: 15px;
    color: inherit;
    font-weight: 600;
  }

  &__text {
    font-size: 15px;
    color: inherit;
    &-2{
      font-size: 14px;
    }
  }

  &__content {
    background-color: rgba(0, 0, 0, 0.5);
    padding:35px 15px 20px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    @media (max-width: 570px) {
      margin-top: 10px;
    }

    &-rating {
      border-radius: 50%;
      border: 3px solid #000000;
      display: flex;
      align-items: center;
      background-color: #5FB9D7;
      justify-content: center;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 10px;
      left: 20px;
      font-size: 12px;
    }
  }

  &__genres {
    font-size: 12px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin-right: 2px;
    }
  }
  &__sidebar{
    position: absolute;
    top: 10px;
    right: 10px;
  }

}

.linkBtn{
  margin-top: auto;
  text-decoration: none!important;
}

.button{
  width: 100%!important;
  height: 20px!important;
  margin-top: 20px!important;
  background-color: rgba(255, 255, 255, 0.2)!important;
}

.text{
  font-size: 15px;
  color: inherit;
}