.root {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
  margin-top: 30px;
  padding: 40px 5px 0;;
  @media (max-width: 500px) {
    max-height: 240px;
  }
}



.root::-webkit-scrollbar-thumb {
  background-color: white;
  width: 2px
;
}



/* Работает в Chrome, Edge и Safari */
.root::-webkit-scrollbar {
  width: 3px;
}

.root::-webkit-scrollbar-track {
  background:  rgba(255,255,255, .2);
}

.root::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255, .5);
}