.btn {
  font-size: 16px;
  width: auto;
  transition: all .3s;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}